@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/MyriadProBold.eot');
    src: url('fonts/MyriadProBold.eot') format('embedded-opentype'),
         url('fonts/MyriadProBold.woff2') format('woff2'),
         url('fonts/MyriadProBold.woff') format('woff'),
         url('fonts/MyriadProBold.ttf') format('truetype'),
         url('fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}
#title-navbar{
  color: white;
  padding-right: 0px;
  margin-left: 0px;
}
sw-dropdown {
  padding-left: 100px;
}
btn-lg{
  background-color: #B60404;
  border-color: #B60404;
  font-size: 3.0rem;
}
bg-primary {
padding-top: 30px;
padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
}
p {
  margin-top: auto;
  margin-bottom: auto;
  color: #FFF;
}
/* plotly expand margins*/

div#Directivos_plot.plotly {
  margin: -18px !important;
}
