@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/MyriadProBold.eot');
    src: url('fonts/MyriadProBold.eot') format('embedded-opentype'),
         url('fonts/MyriadProBold.woff2') format('woff2'),
         url('fonts/MyriadProBold.woff') format('woff'),
         url('fonts/MyriadProBold.ttf') format('truetype'),
         url('fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}

.btn-default {
    background-color: #386FB5 !important;
    border-color: #ddd;
    color: #444;
}

.card-gray-dark:not(.card-outline) > .card-header{
    padding-bottom: 0px !important;
  padding-top: 0px !important;
}
div.card-header {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
div.card-body {
  padding-bottom: 0px !important;
  padding-top: 10px !important;
}
div.small-box > .inner {
  padding-bottom: 0px !important;
}
btn-lg{
  background-color: #386FB5 ;
  border-color: #B60404;
  font-size: 3.0rem;
}
bg-primary {
padding-top: 30px;
padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
}
p {
  margin-top: auto;
  margin-bottom: auto;
}

