@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/MyriadProBold.eot');
    src: url('fonts/MyriadProBold.eot') format('embedded-opentype'),
         url('fonts/MyriadProBold.woff2') format('woff2'),
         url('fonts/MyriadProBold.woff') format('woff'),
         url('fonts/MyriadProBold.ttf') format('truetype'),
         url('fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}

div.custom-control {
  display: none !important;
}

div.small-box-footer {
  background: red !important;
}

div.small-box-subtitle {
  margin-bottom: 0px !important;
}

div.small-box.bg-white {
    background-color: #fff;
    color: #1F2D3D !important;
    border-style: solid;
    border-color: green;
}

.texto-cinta {
    padding-left: 20px;
    min-width: 185px;
}

.cinta {
    max-width: 80px;
}

div.cinta-cont {
    display: flex;
    min-width: 285px !important;
    flex-basis: 50% !important;
    flex-direction: column !important;
    align-items: center !important;
}

.cinta-fila {
    justify-content: space-around !important;
}



